/*GLOBAL*/
*{
	padding: 0;
	margin: 0;
}
    
/*por ser div é ., se fosse id seria #*/
/*por ser responsivo se coloca em %*/

.dark
{
    margin: 5% auto;
    padding: 15px;
    background: black;
    color: #ffffff;
}

#main{
	display: grid;
	grid-template-rows: 10vh 4vh 80vh 6vh;
	/*Eu passo a altura que os elementos tenham, o 1º é 15% da altura do meu viewport, vh=viewheight*/
	grid-template-areas: "header" "aside" "content"  "footer";
	/*são repetidos pois quero ter 2 colunas de cada, se fosse 3 eu colocaria 3 e assim por diante.*/
}

/*HEADER*/
.mainHeader{
	grid-area: header;
	background: #35424a;
    color: #ffffff;
    border-bottom:#e8491d 3px solid;
}

header #Brand
{
    float: left;
    width: 30%;
}

header #Brand h1
{
    padding: 0;
    margin-top: 5%;
    text-align: center;
}

header .highlight{
    color: #1e8fcb;
    font-weight: bold;
    text-align: center;
}

.mainNav{
    width: 70%;
    margin: auto;
    padding: 12px;
}

header a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul
{
	float: right;
    margin-right: 10%;
}

header li
{
    display: inline-block;
    padding: 25px;
}

header a:hover
{
    color: #1e8fcb;
    font-weight: bold;
}

/*CONTENT*/
.mainContent{
	grid-area: content;
    background:url('../img/Clima-Chuva.png') no-repeat 0 -800px;
    color: #F5F5F5;/*text*/
}
#mainTable{
    padding: 1%;
    width: 80%;
}
table, th, td {
    margin-top: 5%;
    margin-left: 10%;
    border: 1px solid black;
    padding: 5px;
}
table {
    border-spacing: 15px;
    color: black;
}

/*Botão*/

.btn1{
    width: 90px;
    height: 35px;
    background:#e8491d;
    margin-left: 50%;
    margin-top: 3%;
    border: 0;
    font-weight: bold;
}

/*Aside*/
aside {
    padding: 0.3%;
    margin: 0;
}
.mainTime{
    text-align: right;
    color: white;
    background:#35424a;
        border-bottom:#e8491d 3px solid;
}

/*FOOTER*/
.mainFooter{
	grid-area: footer;
    color: #ffffff;
    background-color: #1e8fcb;
    text-align: center;
}

footer p{
    margin-top: 20px;
}

/*SOBRE*/
#sob{ 
    padding: 0;
    margin: 0;
}

.mainSobre{
    text-align: center;
    padding: 14%;
    background:url('../img/Clima-Chuva.png') no-repeat 0 -800px;
 }

aside h3, p{
    width: 84%;
    margin: auto;
    text-align: center;
}
